


@media screen and (max-width:1124px) {
    div.intro{
        padding-top:100px;
    }
    div.desc-second p {
        width: 400px;
        color: white;
        font-size: 12px;
        line-height: 28px;
        font-weight: 500;
}

div.desc-second h1 {
    font-size: 24px;
}

div.desc-second p i {
    font-size: 15px;
}

}





/*MEDIA QUERY PER SCHERMI DA 980PX IN GIU*/

@media screen and (max-width:980px){
    div.img-first{
        flex-direction: column;
    }
    div.img-first img{
       width: 400px;
    }
    div.desc-second h1 {
      text-align: center;
      margin-top: 30px;
    }   
    div.desc-second p {
        width: 416px;
        text-align: center;      
    }
    div.desc-second button {
        position: relative;
        left: 26%;
        width: 50%;
    }
}



/*MEDIA QUERY PER SCHERMI DA 860PX IN GIU*/

@media screen and (max-width:860px){
   
    div.hamburger{
        display: flex;
        align-items: center;
        justify-content: center;
        position: fixed;
        right: 6%;
        top: 18px;
        flex-direction: column;
        width: 21px;
        height: 21px;
        z-index: 40000;
        cursor: pointer;
    }
    div.hamburger span{
        width: 18px;
        height: 1px;
        background-color: white;
        margin: 2px;
        transition: all ease-in-out 0.4s;
           
    
    }

    div.open #span2
    {
           background-color: transparent;
           transform: translate(10px);
           transition: 0.3s;
           
    
            
        }
        div.open #span1{
            transform: rotate(45deg) translate(2px, 5px);
            transition: 0.3s;
         
            
        }
        div.open #span3{
            transform: rotate(-45deg) translate(2px, -5px);
            transition: 0.3s;
            
         
        }
    div.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    }
    div.header ul {
        list-style: none;
        padding:  0;
    }

    ul.menu.menu{
        transform: translateX(-1000px);
        position: absolute;
        transition: all ease-in-out 0.3s;
        width: 90%;
        margin: 0 auto;
        left: 8%;
        z-index: 6000;
        display: flex;
        flex-direction: column;
        top: 134%;
    }
    ul.menu.open{
        display: flex;
    flex-direction: column;
    width: 84%;
    background: #212228;
    border-radius: 20px;
    transform: translateX(0px);
    }

    
    ul.menu li{
        margin: 0;
    padding: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    }
    
    div.header ul li{
       margin: 0;
    }
    div.intro{
        margin: 28px auto;
        padding-top: 194px;
        line-height: 46px;
    }
    div.intro p.intro{
        font-size: 44px;
    }
    div.intro p.title{
        font-size: 44px;
    }

    div.intro p.start {
        font-size: 12px;
        line-height: 26px;
        width: 42%;
        margin: 9px auto;
    }
    a.logo{
        font-size: 22px;
        padding: 15px 0 15px 6%;
    }
    div.container img{
        width: 250px;
        height: 350px;
    }
    div.chisono {
       padding-left: 0;
        flex-direction: column;
        align-items: center; 
    }
    div.chisono p{
        margin-top: 10px;
        font-size: 12px; 
     }
    div.container{
        flex-direction: column;
        align-items: center;
    }
    div.competenze div{
        width: 100px;
        height: 100px;
    }
    div.competenze2 div{
        width: 100px;
        height: 100px;
    }
    div.competenze p,
    div.competenze2 p{
        font-size: 13px;
        margin: 0 36px;
    }
}

@media screen and (max-width:680px){

    div.container img {
    width: 180px;
    height: 250px;
}
    div.skill {
        padding: 90px 0 29px 0;
}
div.intro p.start{
    width: 64%;
}

div.competenze div {
    width: 100px;
    height: 100px;
   
}
div.competenze p,
div.competenze2 p{
    font-size: 10px;
    margin: 0 26px;
}

div.img-first img{
    width:350px;
}

h1.chisono,
h1.skill,
div.progetti h1.progetti,
div.contatti h1.contatti{
    font-size: 18px;
}
div.contatti p{
    font-size: 16px;
}
footer{
   flex-direction: column;
   align-items: center;
   justify-content: flex-start;
    height: 100vh;
}
footer h3{
    font-size: 16px;
    text-align: center;
}
div.contatti p {
    width: 80%;
    margin: 75px auto 50px auto;
    text-align: center;
    font-size: 20px;
    color: white;
}
}


@media screen and (max-width:480px){
    div.intro p.start{
        width: 80%;
    }
    div.intro{
        line-height: 34px;
    }
    div.intro p.intro{
        font-size: 32px;
    }
    div.intro p.title{
        font-size: 32px;
    }
    div.chisono p{
        text-align: center;
    }
    div.img-first img{
        width:270px;
    }
    div.container img:hover {
       
        box-shadow: -40px -40px 0 #ffff00d6;
    
    }
    div.container img {
       
        box-shadow: none
    
    }
    div.competenze{
        grid-template-columns: 1fr 1fr;
    }
    div.desc-second h1{
        font-size: 20px;
    }
    div.desc-second p{
        line-height: 22px;
    }
    div.desc-second button {
        left: 30%;
        width: 42%;
    }
    div.desc-second p {
        width: 320px;
    }
    form button{
        width: 34%;
        left: 102px;
    }
    label{
        width: 324px;
        font-size: 13px;
        margin: 8px;
    }
    textarea {
        max-width: 220px;
        min-width: 220px;
    }
    input {
        width: 220px;
    }
}

@media screen and (max-width:340px){
    div.intro p.start {
        width: 100%;
    }
    div.container button a{
        font-size: 10px;
    }
    div.competenze{
        width:90%;
    }
    div.img-first img {
    width: 240px;
}
div.desc-second p{
    width: 260px;
}
label{
    width:260px;
}
input{
    width: 180px;
}
textarea{
    max-width: 180px;
    min-width: 180px;
}
form button {
    width: 48%;
    left: 75px;
}
}
